h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	  min-width: 60px;
    width: 60px;
}
h2 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6em;
    font-weight: 400;
    color: #678844;
    line-height: 36px
}
h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #678844;
}
p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.3em;
    margin-bottom: 20px
}
ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
}
li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1.3em;
    list-style: none;
}
a {
    text-decoration: none;
	color: #49833F;
}
img {
    width: 100%;
}
